* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:Garamond;


}

body {

    background-color:green;

}

.wrapper {

    display: flex;
    position: relative;


}

.wrapper .sidebar{

    position: fixed;
    width: 200px;
    height: 100%;
    background:green;
    padding:30px 0;

}

.wrapper .sidebar h2{

    color:antiquewhite;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-size: large;
    padding: 10%;

}

.wrapper .sidebar ul li{

    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.05 );
    border-top: 1px solid rgba(255, 255,255,0.05);


}

.wrapper .sidebar ul li a {

    color: antiquewhite;
    display: block;

}

.wrapper .sidebar ul li a .fas {

    width:25px;

}

.wrapper .sidebar ul li:hover{

    background:  #aeebf3;

}

.wrapper .sidebar ul li:hover a {

    color: rgba(26, 25, 25, 0.582);


}

.wrapper .main-content{

    width: 100%;
    margin-left:200px;

}

.wrapper .main-content .header {

    padding: 20px;
    background:  #aeebf3;
    color: #202020;
    border-bottom: 1px solid #31e7ff;
    text-align: right;


}

.wrapper .main-content .info {

    margin:20px;
    color: #021b1f;
    line-height: 25px;


}